# Frontend dependencies and build output
frontend/node_modules/
frontend/dist/

# Python virtual environment (if you created one in the root)
# /venv/  <- Add a leading slash if venv is always in the root
# Or just venv/ if it could be anywhere

# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db