node_modules
dist
dist-ssr # If doing SSR
*.local

# Environment variables (already in root, but good to have here too for explicitness if running commands inside frontend/)
.env
.env.*
!.env.example 